.container-home
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0a242e;
}

.topbar-home
{
  background-color: #14445a;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.logo-home
{
  width: 70px;
}

.border
{
    border-bottom: 1px solid #a8a4a4;
}

.topbar-home
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.topbar-left-home
{
  display: flex;
  align-items: left;
  justify-content: left;
}

.topbar-right-home
{
  display: flex;
  align-self: right;
  justify-self: right;
}
  .topbar-home ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
  }
  
  .topbar-home ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  .nav-home
  {
    font-size: 17px;           
    display: flex;
    align-items: center;       
    justify-content: center;   
    background-color: hsl(199, 64%, 22%);
    padding: 13.5px 20px;    
    border: none;  
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .icon-home {
    margin-right: 10px;
    font-size: 20px;
  }
  .nav-home:hover {
    background-color:  #0a242e;
    cursor: pointer;
  }

  .nav-home-selected
  {
    font-size: 17px;           
    display: flex;
    align-items: center;       
    justify-content: center;   
    background-color: #14445a;
    padding: 13.5px 20px;    
    border: none;  
    color: #f5bc16;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .nav-home-selected:hover {
    background-color:  #0a242e;
    cursor: pointer;
  }

  .date-home
  {
    color: white;
    font-size: 17px;
    padding: 10px 20px;  
  }
  
.main-home
{
  display: flex;
  height: 100%;
}

.main-left-home
{
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
  width: 75%;
}

.maintop-home
{
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 70px;
}

.view-home
{
  display: flex;

}

.course-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  margin-top: 20px;
}