.studentsadmincontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #16222a; /* Dark background for a modern look */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.studentsadmin-subcontainer {
  display: flex;
  flex-direction: row;
}

.table-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.student-table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  color: #222;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.student-table th, .student-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.student-table th {
  background-color: #3498db;
  color: white;
  font-weight: bold;
}

.student-table tbody tr:hover {
  background-color: #f0f8ff;
}

.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.filter-controls {
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.filter-controls select,
.filter-controls input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.stdadmin-controls {
  position: fixed;
  right: 20px;
  top: 100px;
  /* margin-left: 1200px;
  margin-top: -130px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.stdadmin-controls button {
  width: 160px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(to right, #3498db, #2980b9);
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.stdadmin-controls button:hover {
  background: linear-gradient(to right, #2980b9, #1f6692);
  transform: scale(1.05);
}

.stdadmin-searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stdadmin-searchbar button {
  border-radius: 10px;
  background: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.stdadmin-searchbar button:hover {
  background: #1f6692;
  transform: scale(1.05);
}
